<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Parking System</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <h1>Smart Parking System</h1>
    <hr>
    <div class="nav">
        <a href="/parking-record/list">
            <div class="btn">
                Check Parking Spots
            </div>
        </a>
    </div>
    <div class="content">
        <p>
            Abgrenzung Wir leben in einer mobilen Welt. Mobil ist die Strömung in der heutigen Gesellschaft. Die Verbreitung des Internets hat in vielen Bereichen des Lebens zu umfassenden Veränderungen geführt.
        </p>
        <p>
            In großen Städten ist es schwierig, einen Parkplatz zu finden. Zum Beispiel am Eingang des Supermarktes, auf dem Hotelparkplatz.
        </p>
        <p>
            brauchen ein intelligentes Parksystem, damit Kunden ihre Zeit besser gestalten können, ohne mehr Energie für die Suche nach einem Parkplatz aufzuwenden.
        </p>
    </div>
    <div class="nav">
        <a href="/user/logout">
            <div class="btn">
                Logout
            </div>
        </a>
    </div>
</body>
</html>